<ion-content>
  <ion-menu contentId="main-content">
    <ion-content>
      <a (click)="navegar('gasto')" class="menu-itens">Gastos</a>
      <a (click)="navegar('receita')" class="menu-itens">Receita</a>
      <a (click)="navegar('lista-desejos')" class="menu-itens">Lista de Desejos</a>
      <div class="menu-itens-inferior">
        <a (click)="navegar('home/alterar-dados')" class="menu-itens">Alterar Dados</a>
        <a href="" class="menu-itens">Sair</a>
      </div>
    </ion-content>
  </ion-menu>
  <div id="main-content">
    <ion-header collapse="fade" class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Carteira Fácil</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  <ion-card id="extrato" (click)="navegar('home/extrato')">
    <ion-card-header>
      <ion-card-subtitle class="titulo-card">Saldo atual</ion-card-subtitle>
      <ion-card-title class="titulo-card"> {{ saldoAtualFormatado }} </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card id="classificacao">
    <ion-card-header>
      <ion-card-title class="titulo-card"> Gastos por Categoria </ion-card-title>
    </ion-card-header>
    <canvas #grafico></canvas>
  </ion-card>

  <ion-card id="entradaSaida">
    <ion-grid>
      <ion-row class="linhaEntradaSaida">
        <ion-col>
          <h2 class="legendaEntradaSaida">Entrada: </h2>
        </ion-col>
        <ion-col>
          <p class="resultadoEntradaSaida">{{ receitaTotalFormatado }}</p>
        </ion-col>
      </ion-row>
      <ion-row class="linhaEntradaSaida">
        <ion-col>
          <h2 class="legendaEntradaSaida">Saída: </h2>
        </ion-col>
        <ion-col>
          <p class="resultadoEntradaSaida">{{ gastoTotalFormatado }}</p>
        </ion-col>
      </ion-row>
      <ion-row class="linhaEntradaSaida">
        <ion-col>
          <h2 class="legendaEntradaSaida">Diferença: </h2>
        </ion-col>
        <ion-col>
          <p class="resultadoEntradaSaida">{{ saldoAtualFormatado }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h5 class="legendaMensagem">{{ mensagem }}</h5>
  </ion-card>
</ion-content>