*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Bitter', serif;
}

ion-content{
    --background: linear-gradient(to top, #33cccc 0%, #006666 100%);
}

.menu-itens{
    display: flex;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 60px 30px;
    justify-content: center;
}

.menu-itens-inferior{
    position: absolute;
    bottom: 0;
    width: 100%;
}

ion-header{
    height: 40px;
    margin-top: 20px;
}

ion-toolbar{
    --background: none;
    text-align: center;    
}

ion-menu-button{
    color: #fff;
}

ion-title{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

ion-card{
    margin: 20px 30px;
    padding: 20px;
}

.titulo-card{
    font-size: 20px;
    font-weight: 500;
    color:#004b4d;
    padding: 5px;
    text-transform: uppercase;
}

#extrato{
    height: 13%;
}

#classificacao{
    height: 510px;
}

#entradaSaida{
    padding: 30px;
    height: 220px;
}

.legendaEntradaSaida{
    color:#004b4d;
    font-weight: 300px;
    //text-align: center;
}

.legendaMensagem{
    color:#004b4d;
    font-weight: 500;
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
}

.resultadoEntradaSaida{
    color: #000;
    font-weight: 500px;
    font-size: 18px;
    text-align: center;
}

.linhaEntradaSaida{
    align-items: center;
    margin-bottom: 15px;
}




