<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/principal">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title id="titulo">Configurações</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-item routerLink="/alterar-dados">
      <ion-label>Alterar dados</ion-label>
    </ion-item>
    <ion-item routerLink="/home">
      <ion-label>Sair do app</ion-label>
    </ion-item>
  </ion-card>

  <!--<ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/principal" size="full">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/adicionar" size="full">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/configuracoes" size="full">
          <ion-icon name="settings-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>-->



<!--<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="principal">
      <ion-icon name="home"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracoes">
      <ion-icon name="settings-sharp"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>-->