<ion-content>
  <ion-header collapse="fade">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/principal">
          <ion-icon class="icon-header" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title id="titulo">Extrato</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <h5>DATA</h5>
            </ion-col>
            <ion-col size="7">
              <h5>NOME</h5>
            </ion-col>
            <ion-col size="3">
              <h5>VALOR</h5>
            </ion-col>
          </ion-row>
          <ion-row class="gastos-itens" *ngFor="let gastoReceita of gastosReceitas$ | async">
            <ion-col size="2">
             {{ gastoReceita.data | date: "dd/MM"}}
            </ion-col>
            <ion-col size="7">
              {{ gastoReceita.nome }}
            </ion-col>
            <ion-col size="3">
              R$ {{ gastoReceita.valor }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <h2 id="saldo-atual">Saldo atual {{ saldoAtualFormatado }}</h2>
    </ion-card>
  </div>
</ion-content>