<ion-content>
  <ion-header collapse="fade">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/home">
          <ion-icon class="icon-header" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title id="titulo">Extrato</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <h5>DATA</h5>
            </ion-col>
            <ion-col size="6.5">
              <h5>NOME</h5>
            </ion-col>
            <ion-col size="3.5">
              <h5>VALOR</h5>
            </ion-col>
          </ion-row>
          <ion-row class="gastos-itens" *ngFor="let gastoReceita of gastosReceitas$ | async">
            <ion-col size="2">
             {{ retornarDate(gastoReceita.data) | date:"dd/MM"}}
            </ion-col>
            <ion-col size="6.5" >
              {{ gastoReceita.nome }}
            </ion-col>
            <ion-col size="3.5">
              <div class="valor">
                <div class="sinal" *ngIf="gastoReceita.tipo == 'Gasto'; else Receita">
                  - 
                </div>
                <ng-template #Receita>
                  <div class="sinal">
                    +
                  </div>
                </ng-template>
                R$ {{ gastoReceita.valor }}               
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <h2 id="saldo-atual">Saldo atual {{ saldoAtualFormatado }}</h2>
    </ion-card>
  </div>
</ion-content>