<ion-content>
  <ion-header collapse="fade">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/gasto">
          <ion-icon class="icon-header" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title id="titulo">{{ adicionarOuEditar }} {{ movimentacao }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list id="lista-gasto">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label class="legenda">Nome</ion-label>
          <ion-input formControlName="nome"></ion-input>
          <app-controle-erro
            [mostrarErro]="verificaValidTouched('nome')"
            mensagemErro="Insira um nome">
          </app-controle-erro>
        </ion-item>

        <ion-item (click)="showPicker = !showPicker">
          <ion-label class="legenda">Data</ion-label>
          <ion-text slot="end">{{ formattedString }}</ion-text>
        </ion-item>
        <ion-datetime formControlName="data" *ngIf="showPicker" #datetime 
          presentation="date"
          [value]="dateValue" 
          size="cover" 
          (ionChange)="dateChanged(datetime.value)">
        </ion-datetime>
        <app-controle-erro
          [mostrarErro]="verificaValidTouched('data')"
          mensagemErro="Insira uma data">
        </app-controle-erro>

        <ion-item *ngIf="movimentacao == 'Gasto'">
          <ion-label class="legenda">Tipo</ion-label>
          <ion-select formControlName="tipoGasto" cancelText="Cancelar" placeholder="Selecionar">
            <ion-select-option value="essencial">Gasto Essencial</ion-select-option>
            <ion-select-option value="alimentação">Alimentação</ion-select-option>
            <ion-select-option value="calçado">Calçado</ion-select-option>
            <ion-select-option value="construção">Construção</ion-select-option>
            <ion-select-option value="decoração">Decoração</ion-select-option>
            <ion-select-option value="eletrodomésticos">Eletrodomésticos</ion-select-option>
            <ion-select-option value="eletrônicos">Eletrônicos</ion-select-option>
            <ion-select-option value="lazer">Lazer</ion-select-option>
            <ion-select-option value="maquiagem">Maquiagem</ion-select-option>
            <ion-select-option value="restaurante">Restaurante</ion-select-option>
            <ion-select-option value="roupas">Roupas</ion-select-option>
            <ion-select-option value="transporte">Transporte</ion-select-option>
            <ion-select-option value="viagem">Viagem</ion-select-option>
            <ion-select-option value="outro">Outro</ion-select-option>
          </ion-select>
          <app-controle-erro
            [mostrarErro]="verificaValidTouched('tipoGasto')"
            mensagemErro="Insira um tipo">
          </app-controle-erro>
        </ion-item>

        <ion-item>
          <ion-label class="legenda">Valor</ion-label>
          <ion-input formControlName="valor" placeholder="Ex: R$20,00"></ion-input>
          <app-controle-erro
            [mostrarErro]="validaValor('valor')"
            mensagemErro="Insira um valor válido">
          </app-controle-erro>
        </ion-item>
      </form>
    </ion-list>
    <ion-button (click)="adicionar()" class="botao-full" 
      size="full" shape="round" [disabled]="!form.valid">
      Adicionar
    </ion-button>
    <ion-button (click)="cancelar()" size="full" shape="round" fill="outline">Cancelar</ion-button>
  </div>
</ion-content>