<ion-content>
  <ion-header collapse="fade">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancelar()">
          <ion-icon class="icon-header" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title id="titulo">{{ adicionarOuEditar }} Desejo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list id="form-desejo">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label class="legenda">Nome</ion-label>
          <ion-input formControlName="nome"></ion-input>
          <!-- <app-controle-erro
            [mostrarErro]="verificaValidTouched('nome')"
            mensagemErro="Insira um nome">
          </app-controle-erro> -->
        </ion-item>

        <ion-radio-group formControlName="tipo" [(ngModel)]="tipoDesejo" (ionChange)="escolhaTipoDesejo()">
          <ion-item lines="none">
            <ion-label class="legenda">Tipo</ion-label>
            <ion-label class="legenda-radio" slot="end">Bem material</ion-label>
            <ion-radio value="bem-material" justify="end"></ion-radio>

            <!-- <app-controle-erro
                [mostrarErro]="verificaValidTouched('nome')"
                mensagemErro="Insira um nome">
              </app-controle-erro> -->
          </ion-item>
          <ion-item>
            <ion-label class="legenda"></ion-label>
            <ion-label class="legenda-radio" slot="end">Viagem</ion-label>
            <ion-radio value="viagem" justify="end"></ion-radio>

            <!-- <app-controle-erro
                [mostrarErro]="verificaValidTouched('nome')"
                mensagemErro="Insira um nome">
              </app-controle-erro> -->
          </ion-item>
        </ion-radio-group>

        <div *ngIf="desejoViagem; else desejoBemMaterial">
          <ion-item>
            <ion-label class="legenda">Passagem</ion-label>
            <ion-input formControlName="passagem" placeholder="Ex: R$20,00" (ionBlur)="calcularTotalViagem($event.target.value, 'passagem')"></ion-input>
            <!-- <app-controle-erro
              [mostrarErro]="validaValor('valor')"
              mensagemErro="Insira um valor válido">
            </app-controle-erro> -->
          </ion-item>

          <ion-item>
            <ion-label class="legenda">Hospedagem</ion-label>
            <ion-input formControlName="hospedagem" placeholder="Ex: R$20,00" (ionBlur)="calcularTotalViagem($event.target.value, 'hospedagem')"></ion-input>
            <!-- <app-controle-erro
              [mostrarErro]="validaValor('valor')"
              mensagemErro="Insira um valor válido">
            </app-controle-erro> -->
          </ion-item>

          <ion-item>
            <ion-label class="legenda">Alimentação</ion-label>
            <ion-input formControlName="alimentacao" placeholder="Ex: R$20,00" (ionBlur)="calcularTotalViagem($event.target.value, 'alimentacao')"></ion-input>
            <!-- <app-controle-erro
              [mostrarErro]="validaValor('valor')"
              mensagemErro="Insira um valor válido">
            </app-controle-erro> -->
          </ion-item>

          <ion-item>
            <ion-label class="legenda">Transporte</ion-label>
            <ion-input formControlName="transporte" placeholder="Ex: R$20,00" (ionBlur)="calcularTotalViagem($event.target.value, 'transporte')"></ion-input>
            <!-- <app-controle-erro
              [mostrarErro]="validaValor('valor')"
              mensagemErro="Insira um valor válido">
            </app-controle-erro> -->
          </ion-item>

          <ion-item>
            <ion-label class="legenda">Compras</ion-label>
            <ion-input formControlName="compras" placeholder="Ex: R$20,00" (ionBlur)="calcularTotalViagem($event.target.value, 'compras')"></ion-input>
            <!-- <app-controle-erro
              [mostrarErro]="validaValor('valor')"
              mensagemErro="Insira um valor válido">
            </app-controle-erro> -->
          </ion-item>

          <ion-item>
            <ion-label class="legenda">Lazer</ion-label>
            <ion-input formControlName="lazer" placeholder="Ex: R$20,00" (ionBlur)="calcularTotalViagem($event.target.value, 'lazer')"></ion-input>
            <!-- <app-controle-erro
              [mostrarErro]="validaValor('valor')"
              mensagemErro="Insira um valor válido">
            </app-controle-erro> -->
          </ion-item>

          <ion-item>
            <ion-label class="legenda">Burocracia</ion-label>
            <ion-input formControlName="burocracia" placeholder="Ex: R$20,00" (ionBlur)="calcularTotalViagem($event.target.value, 'burocracia')"></ion-input>
            <!-- <app-controle-erro
              [mostrarErro]="validaValor('valor')"
              mensagemErro="Insira um valor válido">
            </app-controle-erro> -->
          </ion-item>

          <ion-item>
            <ion-label class="legenda">Gastos Extras</ion-label>
            <ion-input formControlName="gastosExtras" placeholder="Ex: R$20,00" (ionBlur)="calcularTotalViagem($event.target.value, 'gastosExtras')"></ion-input>
            <!-- <app-controle-erro
              [mostrarErro]="validaValor('valor')"
              mensagemErro="Insira um valor válido">
            </app-controle-erro> -->
          </ion-item>

          <ion-item>
            <ion-label class="legenda">Total</ion-label>
            <ion-input formControlName="valor" [readonly]="true" placeholder="Ex: R$20,00" [(ngModel)]="totalViagemFormatado"></ion-input>
            <!-- <app-controle-erro
              [mostrarErro]="validaValor('valor')"
              mensagemErro="Insira um valor válido">
            </app-controle-erro> -->
          </ion-item>
        </div>

        <ng-template #desejoBemMaterial>
          <ion-item>
            <ion-label class="legenda">Valor</ion-label>
            <ion-input formControlName="valor" placeholder="Ex: R$20,00"></ion-input>
            <!-- <app-controle-erro
              [mostrarErro]="validaValor('valor')"
              mensagemErro="Insira um valor válido">
            </app-controle-erro> -->
          </ion-item>
        </ng-template>

        <ion-item>
          <ion-label class="legenda">Economizar (mês)</ion-label>
          <ion-input formControlName="economizar" placeholder="Ex: R$20,00"></ion-input>
          <!-- <app-controle-erro
            [mostrarErro]="validaValor('valor')"
            mensagemErro="Insira um valor válido">
          </app-controle-erro> -->
        </ion-item>

        <ion-item>
          <ion-label class="legenda">Quanto já economizei</ion-label>
          <ion-input formControlName="quantiaEconomizada" placeholder="Ex: R$400,00"></ion-input>
          <!-- <app-controle-erro
            [mostrarErro]="validaValor('valor')"
            mensagemErro="Insira um valor válido">
          </app-controle-erro> -->
        </ion-item>

        <ion-item>
          <ion-button (click)="calcularPrazo()" shape="round">
            Calcular prazo
          </ion-button>
          <ion-label class="legenda">Prazo</ion-label>
          <ion-input formControlName="prazo" [readonly]="true" placeholder="" [(ngModel)]="prazoMesAno"></ion-input>
          <!-- <app-controle-erro
            [mostrarErro]="validaValor('valor')"
            mensagemErro="Insira um valor válido">
          </app-controle-erro> -->
        </ion-item>
      </form>
    </ion-list>

    <ion-button (click)="adicionar()" class="botao-full" size="full" shape="round" [disabled]="!form.valid">
      Adicionar
    </ion-button>
    <ion-button (click)="cancelar()" size="full" shape="round" fill="outline">Cancelar</ion-button>
  </div>
</ion-content>