*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Bitter', serif;
}

ion-content{
    --background: linear-gradient(to top, #33cccc 0%, #006666 100%);
}

ion-header{
    height: 40px;
    margin-top: 20px;
}

ion-toolbar{
    --background: none;
    color: #fff;
}

.icon-header{
    color: #fff;
    margin: 10px;
}

#titulo{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-right: 40px;
}

#container{
    padding: 20px;
}

.legenda{
    color: #004b4d;
    padding-left: 10px;
    margin-right: 20px;
}

.legenda-radio{
    margin-left: 10px;
}

ion-list{
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-bottom: 15px;
}

ion-list ion-item{
    margin-top: 20px;
    margin-right: 20px;
}

.botao-full{
    text-transform: uppercase;
    font-weight: 300;
    color:#fff;
    --background: #004b4d;
}

ion-button[fill='outline']{
    margin-top: 5px;
    color: #004b4d;
    --border-color: #004b4d;
    text-transform: uppercase;
    font-weight: 500;
}

ion-checkbox{
    --size: 20px;
    margin-right: 10px;
}