<ion-content [fullscreen]="true">
  <div id="container">
    <form [formGroup]="form">
      <h1>CARTEIRA FÁCIL</h1>
      <ion-list>
        <ion-item>
          <ion-label class="legenda">Email</ion-label>
          <ion-input [(ngModel)]="usuario.email" type="email" formControlName="email">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="legenda">Senha</ion-label>
          <ion-input [(ngModel)]="usuario.senha" type="password" formControlName="senha">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button id="botao-entrar" type="submit" size="full" shape="round" (click)="fazerLogin()">
        Entrar
      </ion-button>
      <ion-button size="full" shape="round" fill="outline" (click)="navegar('/cadastro')">
        Criar nova conta
      </ion-button>
    </form>
  </div>
</ion-content>