ion-content{
  --background: linear-gradient(to top, #33cccc 0%, #006666 100%); 
}
 
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px;
  padding-left: 10px; 
}

h1{ 
  color: #fff;
  font-family: 'Bitter', serif;
  margin-bottom: 70px;
}

ion-list{
  --ion-item-background: transparent;
  margin-bottom: 30px;
  margin-right: 20px;
}

ion-list ion-item{
  margin-bottom: 15px;
  --border-color: #004b4d;
}

.legenda{
  color: #fff;
  padding-left: 15px;
  font-family: 'Bitter', serif;
  font-weight: 300;
}

#botao-entrar{
  color:#fff;
  --background: #004b4d;
  font-weight: 300;
}

#botao-entrar:hover{
  color:#000;
  transition: all 300ms ease-in-out;
}

ion-button[fill='outline']{
  --border-color: #004b4d;
  color: #004b4d;
}

ion-button[fill='outline']:hover{
  color: #fff;
  transition: all 300ms ease-in-out;
}

.label-botao{
  text-transform: uppercase;
  font-family: 'Bitter', serif;
}