<ion-content>
  <ion-header collapse="fade">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="navegar('home')">
          <ion-icon class="icon-header" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title id="titulo">Lista de Desejos</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="adicionar()">
          <ion-icon class="icon-header" name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngFor="let desejo of desejos$ | async">
      <ion-card *ngIf="desejo.tipo == 'bem-material'; else viagem">
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row class="nome-gasto">
                <ion-col size="8">
                  {{desejo.nome}}
                </ion-col>
                <ion-col size="4">
                  <ion-button (click)="editar(desejo)" fill="clear" class="botao-editar-excluir">
                    <ion-icon class="icones" name="pencil-outline"></ion-icon>
                  </ion-button>
                  <ion-button (click)="excluir(desejo)" fill="clear" class="botao-editar-excluir">
                    <ion-icon class="icones" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
          <ion-card-subtitle>R$ {{desejo.valor}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Economizar/mês: R$ {{desejo.economizar}}</p>
          <p>Total de quantia economizada: R$ {{desejo.quantiaEconomizada}}</p>
          <p>Prazo: {{ desejo.prazo }}</p>
          <div class="progresso">
            <p>Progresso:  {{ calcularPorcentagem(desejo.valor, desejo.quantiaEconomizada) }} % </p>
          </div>
        </ion-card-content>
        <ion-button fill="outline" shape="round" class="botao-concluir">
          Concluído
        </ion-button>
      </ion-card>

      <ng-template #viagem>
        <ion-card class="card-viagem">
          <ion-card-header>
            <ion-card-title>
              <ion-grid>
                <ion-row class="nome-gasto">
                  <ion-col size="8">
                    {{desejo.nome}}
                  </ion-col>
                  <ion-col size="4">
                    <ion-button (click)="editar(desejo)" fill="clear" class="botao-editar-excluir">
                      <ion-icon class="icones" name="pencil-outline"></ion-icon>
                    </ion-button>
                    <ion-button (click)="excluir(desejo)" fill="clear" class="botao-editar-excluir">
                      <ion-icon class="icones" name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
            <ion-card-subtitle>R$ {{desejo.valor}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Hospedagem: R$ {{desejo.hospedagem}}</p>
            <p>Alimentação: R$ {{desejo.alimentacao}}</p>
            <p>Passagem: R$ {{desejo.passagem}}</p>
            <p>Transporte: R$ {{desejo.transporte}}</p>
            <p>Compras: R$ {{desejo.compras}}</p>
            <p>Lazer: R$ {{desejo.lazer}}</p>
            <p>Gastos Extras: R$ {{desejo.gastosExtras}}</p>
            <p>Burocracia: R$ {{desejo.burocracia}}</p>
            <br>
            <p>Economizar/mês: R$ {{desejo.economizar}}</p>
            <p>Total de quantia economizada: R$ {{desejo.quantiaEconomizada}}</p>
            <p>Prazo: {{ desejo.prazo }}</p>
            <div class="progresso">
              <p>Progresso:  {{ calcularPorcentagem(desejo.valor, desejo.quantiaEconomizada) }} % </p>
            </div>
          </ion-card-content>
          <ion-button (click)="concluirDesejo(desejo.nome)" fill="outline" shape="round" class="botao-concluir">
            Concluído
          </ion-button>
        </ion-card>
      </ng-template>
    </div>
  </div>
</ion-content>