<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div id="container">
    <h1>Esqueceu sua senha?</h1>
    <p class="mensagem">Enviaremos um email para redefinição de sua senha</p>
    <ion-item>
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <ion-button size="full" shape="round" fill="outline" routerLink="/home">Continuar</ion-button>
  </div>
</ion-content> 