<ion-content>
  <ion-header collapse="fade">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/principal">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title id="titulo">Alterar dados</ion-title>
    </ion-toolbar>
  </ion-header> 

  <div id="container">
    <ion-list>
      <ion-grid>
        <ion-item>
          <ion-col size="4">
            <ion-label class="legenda">Nome</ion-label>
          </ion-col>
          <ion-col>
            <ion-input></ion-input>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="4">
            <ion-label class="legenda">Email</ion-label>
          </ion-col>
          <ion-col>
            <ion-input></ion-input>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="4">
            <ion-label class="legenda">Telefone</ion-label>
          </ion-col>
          <ion-col>
            <ion-input></ion-input>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="4">
            <ion-label class="legenda">Senha</ion-label>
          </ion-col>
          <ion-col>
            <ion-input></ion-input>
          </ion-col>
        </ion-item>
      </ion-grid>
    </ion-list>
    <ion-button id="botao-confirmar" size="full" shape="round">CONFIRMAR</ion-button>
  </div>
</ion-content>